<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Delete Post News</h2>
    <p>Are you sure you want to delete this post news?</p>
    <form method="POST" action="{% url 'delete_post_news' post_news.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="{% url 'post_news_list' %}">Cancel</a>
    </form>

</body>
</html>